<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="small-11 small-centered columns">
<fieldset>
  <legend>New Recipe</legend>
  <div class="row">
    <div class="small-11 small-centered columns">
      <div class="row">
        <%= f.text_field :title %>
      </div>
      <div class="row">
        <%= f.text_field :author %>
      </div>
      <div class="row">
        <%= f.text_field :type %>
      </div>
      <div class="row">
        <%= f.text_area :description %>
      </div>
      <div class="row">
        <%= f.text_area :instructions %>
      </div>
      <%= f.submit "Create recipe" %>
    </div>
  </div>
</fieldset>
</div>
</div>
<% end %>
