<div class="row">
  <div class="large-10 small-centered columns">
    <h1>Recipes!</h1>

	<% @recipes.each do |recipe| %>
	<div class="row">
  	  <div class="large-9 small-centered columns">
    	    <h4><%= link_to recipe.title, recipe %>  by <%= recipe.author %></h4>
  	  </div>
	</div>
	<div class="row">
  	  <div class="small-9 small-centered columns">
    	    <h6 class="subheader"><%= recipe.type %></h6>
  	  </div>
	</div>
	<div class="row">
 	  <div class="small-9 small-centered columns">
    	    <p><%= recipe.description %></p>
	  </div>
	</div>
	<% end %>

    <div class="row">
      <div class="small-8 small-centered columns">
      <%= button_to 'New Recipe', new_recipe_path, class: 'button' %>
      </div>
    </div>

  </div>
</div>
